include LICENSE
include CHANGELOG
recursive-include python2 *
recursive-exclude python2 *.pyc
recursive-exclude python2 *~
recursive-include python3 *
recursive-exclude python3 *.pyc
recursive-exclude python3 *~
recursive-include sphinx *
recursive-include docs *
recursive-exclude docs *.zip
